# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/

# Editors
*.swp
*.swo
*.swn
.idea/
.vscode/
*.sublime-workspace

# Operating System
.DS_Store
Thumbs.db

# Added by cargo

/target
Cargo.lock
